h1{
	margin-top: 55px;
	margin-left:10px;

}
.pingyin{
	font-family: 'microsoft yahei', Arial;
    font-size: 20px;
}
.star-9{
	position: absolute;
	background-image: url(https://gss0.bdstatic.com/8KIPcyv9KgQIm2_p8IuM_a/static/destination/widget/public/star/img/star-2x_e79e4de.png);
	background-origin: padding-box;
	background-position: 0px -17px;
	background-size: 100px;
	height: 16px;
	width: 92px;
}
.main-desc-p{
	color: rgb(102, 102, 102);
	font-family: 'microsoft yahei';
	font-size: 12px;
 }
.div1{
	float:left;
	width:500px;
	margin-left:10px;
}
 .point-rank{
 	color: rgb(102, 102, 102);
	font-family: 'microsoft yahei';
	font-size: 12px;
 }
 .rank{
 	color: rgb(255, 156, 0);
 	font-size: 14px;
 }
 #page{
 	margin: auto 30px;
 }
 .maintitle {
    font-size: 25px;
    font-family: "microsoft yahei";
    color: #111;
    display: inline-block;
    vertical-align: top;
}
.div-dianping-word{
	margin-top: 10x;
}
.word{
	color: rgb(102, 102, 102);
	font-family: 'microsoft yahei';
	font-size: 12px;
}

.yanse{
	color: rgb(85, 85, 85);
	font-family: 'microsoft yahei', arial;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	text-decoration: none;
}
body{
	margin-bottom: 30px;
	margin: auto auto;
	
}
.div-diaoping-word img{
	border-radius: 100%;
}